img{
    max-width: 100%;
    height: auto;
}

a:link{
    color: var(--primary-one);
    text-decoration: none;
}

a:visited{
    color: var(--neutral-one);
}

a:hover{
    color: var(--primary-two)
}

a:active{
    color: var(--neutral-one);
}

.attribution{
    margin: 1em;
    padding: 1em;
    text-align: center;
}

h1 {
    font-size: 2em;
}