.container {
    display: grid;
    grid-template-columns: 12;
    max-width: 1440px;
    margin: auto;
}

.text-section,
.ratings-section,
.comments-section,
.footer-section {
    grid-column: 1 / 13;
}

@media only screen and (min-width: 930px){
    .container {
        padding: 0 10em;
    }
    .text-section, .ratings-section {
        grid-column: auto / span 6;
    }
}