.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1440px;
    margin: auto;
}

.text-section,
.ratings-section,
.comments-section,
.footer-section {
    grid-column: 1 / 13;
}

@media only screen and (min-width: 80em){
    .container {
        padding: 0 10em;
    }

    .text-section {
        grid-column: 1 / 6;
    }
    .ratings-section {
        grid-column: 6 / 13;
    }
}